<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{{ site.lang[page.lang].services }}</h2>
                    <h3 class="section-subheading text-muted">{{ site.lang[page.lang].services_description }}</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-paint-brush fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">{{ site.lang[page.lang].services_design_title }}</h4>
                    <p class="text-muted">{{ site.lang[page.lang].services_design_description }}</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-hand-paper-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">{{ site.lang[page.lang].services_handled_title }}</h4>
                    <p class="text-muted">{{ site.lang[page.lang].services_handled_description }}</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">{{ site.lang[page.lang].services_delivery_title }}</h4>
                    <p class="text-muted">{{ site.lang[page.lang].services_delivery_description }}</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-camera fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">{{ site.lang[page.lang].services_photo_title }}</h4>
                    <p class="text-muted">{{ site.lang[page.lang].services_photo_description }}</p>
                </div>
            </div>
        </div>
    </section>
