<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{{ site.lang[page.lang].colaborators }}</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-{% if page.lang == 'ca' %}1{% else %}4{% endif %}">
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <a href="https://www.martabellot.com/"><img src="{{ site.url }}/img/marta.jpg" class="img-responsive img-circle" alt=""></a>
                        <h4>{{ site.lang[page.lang].colaborators_marta }}</h4>
                        <p class="text-muted"></p>
                    </div>
                </div>
                {% if page.lang == 'ca' %}
                <div class="col-sm-2">
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <a href="http://www.certificaietiqueta.es/"><img src="{{ site.url }}/img/certifications.jpg" class="img-responsive img-circle" alt=""></a>
                        <h4>{{ site.lang[page.lang].colaborators_certificatinos }}</h4>
                        <p class="text-muted"></p>
                    </div>
                </div>
                {% endif %}
                <div class="col-sm-{% if page.lang == 'ca' %}1{% else %}4{% endif %}">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted"></p>
                </div>
            </div>
        </div>
    </section>